.text-primary-color {
    color: var(--theme-color) !important;
}

.border-primary-custom {
    border-bottom: 3px solid var(--theme-color);
}

a.tab-services {
    color: black;
}

a.tab-services:hover {
    color: var(--theme-color);
}

.primary-color-gradient{
    background: linear-gradient(180deg, #0ABDF5, #0B4496) !important;
}
